

<div class="layout">

    <div class="row">

            <a href="src/pages/sidnIn">signIn</a>
            <a href="src/pages/sidnUp">signUp</a>
            <a href="src/pages/profile">profile</a>
            <a href="src/pages/profileEdit">profileEdit</a>
            <a href="src/pages/chat">chat</a>
            <a href="src/pages/error404">error404</a>
            <a href="src/pages/error500">error500</a>

    </div>
</div>



