
.message {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -150px;
	color: gray;
}

a {
	text-decoration: none;
	color: #44ccf8;
	margin-top: 10px;
}





