
.signIn {
	.form {
		height: 70%;
		width: 50%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 70%;
		}
	}

	.link {
		color: gray;
		font-size: 14px;
		text-decoration: none;
	}

	.signInInput {
		width: 100%;
	}
}




